* {
    scrollbar-width: none;
}

body {
    background-color: rgba(239, 224, 218, 0.174) !important;
}

header {
    background: url(Image/bg-2.png) repeat no-repeat center center;
    background-size: cover;
    padding: 20px 100px;
    color: white;
}

nav h3 {
    font-size: 2em;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 3em;
}

.main-content {
    margin: 70px auto 100px;
    width: 60%;
    text-align: center;
}

nav button {
    background-color: rgb(249, 110, 59);
    padding: 5px 30px;
}

nav button:hover {
    background-color: rgb(240, 87, 31)
}

.card {
    transition: .3s;
    max-height: 620px;
    overflow-y: scroll;
}

.card:hover {
    box-shadow: 10px 10px 20px rgba(165, 42, 42, 0.178) !important;
    transform: translate(0px, -10px);
}

.card-img {
    transition: .3s;
}

.card-img:hover {
    /* box-shadow: 10px 10px 20px rgba(165, 42, 42, 0.178) !important; */
    transform: scale(1.04);
}

span {
    color: rgb(248, 142, 104);
}

nav ul li {
    list-style: none;
}

li a, ul button {
    transition: .15s;
    font-size: 1.1em;
}

li a:hover {
    color: rgb(248, 142, 104) !important;
}

#displayFoods {
    row-gap: 40px ;
    column-gap: 25px ;
}

section {
    padding: 50px 70px;
}

select {
    padding: 7px 5px;
    border-radius: 5px;
    width: 15%;
}

label {
    padding: 7px 10px;
    width: auto;
    justify-content: space-between;
}

#foodInfo {
    max-width: 700px;
    margin: 20px auto;
    padding: 40px 40px;
    border-radius: 10px;
    background-color: rgba(248, 142, 104, 0.155);
    /* position: fixed;
    z-index: 1000; */

}

.back {
    font-size: 1.1em;
    cursor: pointer;
    opacity: .7;
    width: auto;
    height: auto;
}

.back:hover {
    opacity: 1;
}

#favouriteBtn {
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.5);
    color: rgba(0, 0, 0, 0.7);
    transition: .15s;
    cursor: pointer;
}

#favouriteBtn:hover {
    border: 1px solid brown;
    outline: 1px solid brown;
}

#favouriteBtn i {
    color: brown;
}

#viewDetails {
    font-weight: bold;
    /* text-decoration: underline; */
}

#viewDetails:hover {
    color: brown;
    cursor: pointer;
}

.bi-heart, .bi-heart-fill {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.bi-heart-fill {
    transform: scale(1.2);
}

#removeFavorite {
    display: none;
}

#userSearch:focus {
    border: none;
    outline: none;
}

.input-container:has(input:focus) {
    outline: 2px solid rgb(249, 110, 59);
}

#spinnerOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1055; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px auto; */
}